config/pool.dtd

<!ELEMENT aplication (pool+)>
<!ATTLIST pool name CDATA #REQUIRED>
<!ELEMENT pool (dbDriver,dbServer,dbLogin,dbPassword,minConns,maxConns,maxConnTime,dbSessionConfig,rdbms)>
<!ELEMENT dbDriver (#PCDATA)>
<!ELEMENT dbServer (#PCDATA)>
<!ELEMENT dbLogin (#PCDATA)>
<!ELEMENT dbPassword (#PCDATA)>
<!ELEMENT minConns (#PCDATA)>
<!ELEMENT maxConns (#PCDATA)>
<!ELEMENT maxConnTime (#PCDATA)>
<!ELEMENT dbSessionConfig (#PCDATA)>
<!ELEMENT rdbms (#PCDATA)>
